body{
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}


.robot-icon{
    position: absolute;
    width: 449px;
    height: 637px;
    left: 70px;
    top: 230px;
    border-radius: 0px;
}

#login-form{
    margin-top: 100px;
    margin-left: 200px;
}

#register-form{
    margin-top: 80px;
    margin-left: 200px;
}

main > section > div .header-register{
    font-size: 60px;
}
